@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #232323;
}

.mt-1 {
    margin-top: 4px;
}

.mt-05 {
    margin-top: 2px;
}

.text-left-side {
    flex: 0 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

.text-right-side {
    flex: 1 0 auto;
    overflow: hidden;
    white-space: pre;
}

.drop-area {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    background: #ffffff55;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: .2s ease;
}

.card {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: .2s ease;
    padding: 12px;
    color: black;
}

.card a {
    color: black;
    transition: 0.3s;
}

.card:hover a {
    color: rgb(0, 0, 255);
}

.drop-area[data-active=true] {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: #ffffffcc;
}

.drop-area label .click-here {
    transition: 0.3s;
    color: black;
}

.drop-area label:hover .click-here {
    color: aqua;
}

.h-100vh {
    height: 100vh;
}

.close {
    color: rgb(0, 0, 0);
}

.close:hover {
    color: aqua;
    transition: 0.3s;
}

body {
    min-height: 100vh;
}